@font-face {
    font-family: 'Windsor Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/windsor-pro-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Windsor Pro';
    font-style: oblique;
    font-weight: 400;
    src: url('/fonts/windsor-pro-elongated.woff2') format('woff2');
}

@font-face {
    font-family: 'Windsor Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/windsor-pro-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Windsor Pro';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/windsor-pro-extra-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Windsor Pro';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/windsor-pro-ultra-heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/nimbus-sans-d-ot-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('/fonts/Nimbus-Sans-Bold.woff') format('woff');
    font-style: bold;
    font-weight: 700;
}
